body {
    background-color: rgb(126, 233, 219);
  }
.tlb {
    font-family: sans-serif;
    background-color: cornsilk;
}
.pic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.pic1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.pic2 {
  display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 100%;
}
.def{
  margin-left: 100px;
  margin-right: 100px;
}
.intro{
  margin-left: 100px;
  margin-right: 100px;
  color: rgb(0, 0, 0)
}
.insp{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.insp1{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.hiw{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.hiw1{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.nexts{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.ns{margin-left: 100px;
  margin-right: 100px;
}
.hwbi{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.cwri{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.ate{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.ate1{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}
.video{margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}